

.letra {
  color:cornflowerblue;
}

.letrablancasm {
  color:white;
}


body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #F6F8FF;
  opacity: 1;
  
}

footer {
  position: fixed;  
  bottom: 0px;  
  width: 100%;    
  background-color: cornflowerblue;
  height: 50px;  
}

.foto{
  width:300px; 
  height: 201px; 
  border: 3px solid transparent;
  border-radius: 17px;
}

.foto1{
  width:350px; 
  height: 251px; 
  border: 3px solid transparent;
  border-radius: 17px;
}

.foto2{
  width:600px; 
  height: 550px; 
  border: 3px solid transparent;
  border-radius: 17px;
}

.foto3{
  width:500px; 
  height: 450px; 
  border: 3px solid transparent;
  border-radius: 17px;
}


.slide {
  margin-top: 10px;

}

.slide img{
  height:auto ;
  width: auto;
}


svg {
   
  top: 5%;
  margin-top: 10px;
  left: 50%;
  margin-left: 10px;
}

.letra1 {text-align: left; 
  font-family: Arial; 
  font-size: 60px; 
  COLOR: #1278BF; 
  text-shadow: 0px 0px 9px #508AD3;
  text-align: center;  
  }

  .letrablanca {text-align: left; 
    font-family: Arial; 
    font-size: 60px; 
    COLOR: white ; 
    text-shadow: 0px 0px 9px #508AD3;
    text-align: center;  
    }

 

  hr {
    height: 10px;
    width: 25%;
    background-color: black;
    margin-left: 40%;
  }

